<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction Template</title>
</head>
<body>
<table>
    <thead>
        <th>Income</th>
        <th>Expenditure</th>
        <th>Description</th>
        <th>Date & Time</th>
    </thead>
    <tbody>
        {% for transaction in all_transactions %}
            <tr>
                <td>{{transaction.income}}</td>
                <td>{{transaction.expenditure}}</td>
                <td>{{transaction.description}}</td>
                <td>{{transaction.date_time}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
